#title, h1, h2 {
    text-align: left;
}

table, tr, td {
    text-align: center;
    border: 3px solid black;
}

img {
    height: 100px;
    width: 100px;
    margin: 10px;
}

.apokalipsa {
    color: rgb(255,20,147);    
    font-weight: bold;
    font-size: 30px;
}
